<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hydrograph.ui.graph.commands"
         name="Graph Commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="hydrograph.ui.graph.newGraphcategory"
            id="hydrograph.ui.graph.newGraphcommand"
            name="New Graph">
      </command>
      <category
            id="hydrograph.ui.graph.newGraphcategory"
            name="New Graph Category">
      </category>
      <command
            id="hydrograph.ui.graph.command.runjob"
            name="RunJob">
      </command>
      <command
            id="hydrograph.ui.graph.stopjob"
            name="StopJob">
 	</command>
      <command
            id="hydrograph.ui.graph.command.debug"
            name="Debug">
 
      </command>
      <command
            id="hydrograph.ui.graph.command.removedebug"
            name="Remove Debug">
      </command>
      <command
            id="hydrograph.ui.propertywindow.graphProperties"
            name="Graph Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hydrograph.ui.graph.handler.NewGraphHandler"
            commandId="hydrograph.ui.graph.newGraphcommand">
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.RunJobHandler"
            commandId="hydrograph.ui.graph.command.runjob">
       <activeWhen>
   			 <with variable="activeEditorId">
       			 <equals value="hydrograph.ui.graph.etlgraphicaleditor"/>
   			 </with>
</activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.StopJobHandler"
            commandId="hydrograph.ui.graph.stopjob">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
	 </handler>
      <handler
            class="hydrograph.ui.graph.handler.DebugHandler"
            commandId="hydrograph.ui.graph.command.debug">
 
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.RemoveDebugHandler"
            commandId="hydrograph.ui.graph.command.removedebug">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.NewGraphHandler"
            commandId="org.eclipse.ui.window.newEditor">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="hydrograph.ui.graph.handler.GraphPropertiesHandler"
            commandId="hydrograph.ui.propertywindow.graphProperties">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="hydrograph.ui.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:hydrograph.ui.menus.NewMenu?before=hydrograph.ui.menus.NewMenu.Class">
         <command
               commandId="hydrograph.ui.graph.newGraphcommand"
               label="Job"
               mnemonic="J"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hydrograph.ui.graph.toolbar1">
            <command
                  commandId="hydrograph.ui.graph.newGraphcommand"
                  icon="resources/icons/new_file_o.png"
                  id="hydrograph.ui.graph.newJob"
                  label="Job"
                  style="pulldown">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  icon="resources/icons/folder_o.png"
                  label="Open File"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  disabledIcon="resources/icons/dis_save.png"
                  icon="resources/icons/save_o.png"
                  id="hydrograph.ui.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  icon="resources/icons/saveAll_o.png"
                  id="hydrograph.ui.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator1"
                  visible="true">
            </separator>
            <separator
                  name="hydrograph.ui.graph.separator2"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  disabledIcon="resources/icons/dis_undo.png"
                  icon="resources/icons/undo_o.png"
                  id="hydrograph.ui.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  disabledIcon="resources/icons/dis_redo.png"
                  icon="resources/icons/redo_o.png"
                  id="hydrograph.ui.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="resources/icons/delete_o.png"
                  label="Delete"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  disabledIcon="resources/icons/dis_cut.png"
                  icon="resources/icons/cut_o.png"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  disabledIcon="resources/icons/disable_copy_icon.png"
                  icon="resources/icons/enable_copy_icon.png"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  disabledIcon="resources/icons/dis_paste.png"
                  icon="resources/icons/paste_o.png"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="hydrograph.ui.graph.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="hydrograph.ui.propertywindow.graphProperties"
                  icon="resources/icons/graph_property_window.png"
                  label="Graph Properties"
                  style="push">
            </command>
            <command
                  commandId="hydrograph.ui.graph.command.runjob"
                  icon="resources/icons/run.png"
                  label="Run Job"
                  style="push">
            </command>
            <command
                  commandId="hydrograph.ui.graph.stopjob"
                  icon="resources/icons/stop_job.png"
                  label="Stop Job">
 				 </command>
 				 
 				 <command
                  commandId="hydrograph.ui.graph.command.debug"
                  icon="resources/icons/debug_icon.png"
                  label="Debug"
 
                  style="push">
            </command>
      <separator
            name="hydrograph.ui.graph.separator1">
      </separator>
      <command
            commandId="hydrograph.ui.graph.command.removedebug"
            icon="resources/icons/remove_debug.png"
            label="Remove Watchers"
            style="push">
      </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:hydrograph.ui.graph.newJob">
         <command
               commandId="hydrograph.ui.graph.newGraphcommand"
               label="Job"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               id="hydrograph.ui.menus.NewMenu.Class"
               label="Class"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               id="hydrograph.ui.toolbar.xmlfile"
               label="XML File"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="File"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.eclipse.ui.wizards.new.file">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="ELT Project"
               mnemonic="&amp;E"
               style="push">
         </command>
         <separator
               name="hydrograph.ui.menus.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="&amp;Other...">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hydrograph.ui.graph.editor.ELTGraphicalEditor"
            default="false"
            extensions="job"
            id="hydrograph.ui.graph.etlgraphicaleditor"
            name="ELT Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="hydrograph.ui.graph.newGraphcommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+J">
      </key>
      <key
            commandId="hydrograph.ui.graph.command.runjob"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="hydrograph.ui.graph.stopjob"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.navigate.open.type">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.edit.text.java.toggleBreadcrumb">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.toggleBlockSelectionMode">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters">
         </hiddenToolBarItem>
          <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem> 
              
      </perspectiveExtension>
   </extension>
	<extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="hydrograph.ui.graph.editor.RenameJobParticipant"
            id="hydrograph.ui.graph.editor.RenameJobParticipant"
            name="RenameJobRelatedFiles">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </and>
         </enablement>
      </renameParticipant>
   </extension>
</plugin>
