<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=com.bitwsie.edit.menu">
         <menu
               id="com.bitwise.app.menus.RunMenu"
               label="Run"
               mnemonic="R">
            <command
                  commandId="com.bitwise.app.propertywindow.runconfig"
                  label="Run Configuration Settings"
                  mnemonic="R"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.bitwise.app.graph.toolbar1">
            <command
                  commandId="com.bitwise.app.propertywindow.runconfig"
                  icon="icons/run_config.png"
                  label="Run Configuration Settings"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.bitwise.app.menus.WindowMenu"
               label="Window"
               mnemonic="W">
            <command
                  commandId="com.bitwise.app.menus.showHidePropertyHelp"
                  label="Show/Hide Property Help"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bitwise.app.propertywindow.runconfig"
            name="Run configuration settings">
      </command>
      <command
            id="com.bitwise.app.menus.showHidePropertyHelp"
            name="showHidePropertyHelp">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bitwise.app.propertywindow.handlers.RunConfigHandler"
            commandId="com.bitwise.app.propertywindow.runconfig">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="com.bitwise.app.propertywindow.handlers.ShowHidePropertyHelpHandler"
            commandId="com.bitwise.app.menus.showHidePropertyHelp">
      </handler>
   </extension>

</plugin>
